body {
	color:#333333; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size:15px; line-height:1.6em; 
	padding-top:15px; 
	margin:0; 
	padding:0;
}

a{
	text-decoration: none;
	color:#4BBD93;
}

a:hover, a:focus, a:visited:hover, a:visited:focus {
  text-decoration: underline;
}

#menu a, #menu a:hover, #menu a:focus, #menu a:visited:hover, #menu a:visited:focus{
	color:black;
	font-weight: 700;
}

ul {list-style-type: square;}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	
}
h1 small, h2 small, h3 small {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size:14px;
	color:#333333
	
}
h1 {
	font-size:330%; text-align:center
}

h2 {
	font-size:300%; 
}

h3 {
	font-size:200%; color:#000
}
h3 a {
	text-decoration:none;
}

h4 {
	font-size:160%;
	padding-top: 1em;
	border-top:1px #ccc solid
}

h5 {
	font-size:130%; 
	font-weight: 700;
	font-family: serif;
}

h6 {
	font-size:110%
}

#doc-wrapper {
	max-width:740px; 
	width: 95%;
	margin: 0 auto;
}

#doc-wrapper img{
	max-width: 100%;
}

span.underline{
	text-decoration: underline;
}

hr {
	color: white;
	background-color: #fff;
	height: 1px;
	margin:40px 0;
	border-top:2px solid #ccc;
	border-bottom:none;
	border-left:none;
	border-right:none;
}

p {
	margin:1.5em 0
}

p.no-margin{
	margin:0 0 1.5em 0
}

small {font-size:11px}
#intro, #outro {
	color:#333333; text-align:center;
	font-style:italic
}

.center {
	text-align:center;
}

code{background:#fff; display:inline-block; font-family: Monaco, Andale Mono, Courier New, monospace; }


.cols {
	 width: 205px;  display: inline;
	  float: left;
	  margin-left: 10px;
	  margin-right: 10px;
}
.clear {clear:both}


img {border:1px solid #ccc}

.video {width:850px; height:500px; margin:0 auto}
.video iframe, .video object {width:850px; height:500px}

pre, code{
	background: #fff;
	padding: 0.5em;
}

.fluid-video {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

.fluid-video iframe, .fluid-video embed, .fluid-video object {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}